In [16]:
import sqlite3
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#query for creating table
create_table = """
                CREATE TABLE classroom(
                student_id INTEGER PRIMARY KEY,
                name VARCHAR(20),
                gender CHAR(1),
                physics marks INTEGER,
                chemistry_marks INTEGER,
                mathematics_marks INTEGER
                    
                )

                """

#execute query
cursor.execute(create_table)
#commit changes
connection.commit()
#close connection
connection.close()

OperationalError: table classroom already exists

In [17]:
#sample data
classroom_data = [
    (1,"marv", "E", 56, 76, 89),
    (2,"james", "d", 67, 83, 22),
    (3,"darv", "c", 62, 35, 89),
    (4,"leno", "m", 83, 76, 89),
]
#open connection
connection = sqlite3.connect("classroomDB.db")

#open cursor
cursor = connection.cursor()
#insert each student record
for student in classroom_data:
    insert_statement = """
                        INSERT INTO classroom
                        (student_id, name, gender, physics_marks, chemistry_marks, mathematics_marks)
                        VALUES
                        ({0}, "{1}", "{2}", {3}, {4},{5});
                        """.format(student[0],student[1],student[2],student[3],student[4],student[5])
    #execute insert query
    cursor.execute(insert_statement)

#commit the changes
connection.commit()
#close the connection
connection.close()

OperationalError: table classroom has no column named student_id

In [18]:
#open connection
connection = sqlite3.connect("classroomDB.db")
#open cursor
cursor = connection.cursor()
#query
query = "SELECT * FROM classroom"
#execute query
cursor.execute(query)
#fetch results
results = cursor.fetchall()
#print results
for row in results:
    print(row)
#close connection
connection.close()

In [19]:
conda install pymysql

Collecting package metadata (current_repodata.json): done
Solving environment: done

# All requested packages already installed.


Note: you may need to restart the kernel to use updated packages.

In [20]:
import pymysql